<a class="icon link item" [ngClass]="{'disabled': hasData}" (click)="open()">
    <i class="ui upload icon"></i>
    <div class="hover text">Import</div>
</a>
<div id="data-upload" class="ui basic small modal" [ngClass]="{ 'loading': loading }">
    <div class="content">
        <file-drop class="ui placeholder segment" [ngClass]="{ 'hollow': !fileHovering, 'filled': data || teams }"
               (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" (onFileDrop)="dropped($event)">
            <div class="ui icon header" *ngIf="!teams && !data">
                <i class="excel file outline icon"></i>
                Drop your teams list or scheduele file here.
            </div>
            <table class="ui table" *ngIf="teams">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let team of teams">
                        <td>{{team.number}}</td>
                        <td>{{team.name}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="ui grid" *ngIf="data">
                <div class="four wide column">
                    <table class="ui table">
                        <thead>
                            <tr>
                                <th>Tables</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let table of data.tables">
                                <td>{{table.tableName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="twelve wide column">
                    <table class="ui table">
                        <thead>
                            <tr>
                                <th colspan="2">Teams</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let team of data.teams">
                                <td>{{team.number}}</td>
                                <td>{{team.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="sixteen wide column">
                    <table class="ui table">
                        <thead>
                            <tr>
                                <th colspan="3">Matches</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let match of data.practiceMatches">
                                <td>{{match.stage}} {{match.matchId}}</td>
                                <td>{{timeString(match.endTime)}}</td>
                                <td>{{timeString(match.endTime)}}</td>
                            </tr>
                            <tr *ngFor="let match of data.rankingMatches">
                                <td>{{match.stage}} {{match.matchId}}</td>
                                <td>{{timeString(match.endTime)}}</td>
                                <td>{{timeString(match.endTime)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </file-drop>
    </div>
    <div class="actions">
        <div class="ui base primary button" (click)="upload($event)" [ngClass]="{ 'disabled': !data && !teams }">
            <i class="ui upload icon"></i>Import
        </div>
        <div class="ui base red inverted close button">
            <i class="ui close icon"></i>Cancel
        </div>
    </div>
</div>
