<div id="delete-modal" class="ui small basic modal" [ngClass]="{ 'loading': loading }">
  <div class="ui icon header" *ngIf="model()">
    <i class="trash icon"></i>
    {{model().title()}} is about to be permanently deleted
    <br/>
    Warning: You can’t undo this action.
  </div>

  <div class="actions">
    <div class="ui primary inverted button" (click)="close()">No, I think I'll pass...</div>
    <div class="ui red inverted button" (click)="delete()">
      <i class="ui trash icon"></i>
      Yes, just do it!
    </div>
  </div>
</div>
