<div id="image-upload" class="fast reveal" [ngClass]="{ 'loading': loading }" data-reveal data-animation-in="hinge-in-from-middle-y" data-animation-out="hinge-out-from-middle-y">
  <h2>Upload image file</h2>
  <div class="dimmer">
    <div class="big loader"></div>
  </div>

  <file-drop class="expanded button" [ngClass]="{ 'hollow': !fileHovering }" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" (onFileDrop)="dropped($event)">Drop your image file here</file-drop>

<div *ngIf="image">
  <img src={{this.image.image}} />
</div>
  <div class="grid-x align-center button-group">
    <button class="button" *ngIf="image" (click)="alert('hi')" >Upload</button>
  </div>
  <!--upload($event)-->
  <button id="images-close-button" class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
