#notifications {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 20vw;
}

.notification {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    transition: opacity linear 0.5s;
}
