<div class="ui page sub menu grid">
    <div class="row">
        <div class="eight wide column">
            <div class="ui fluid input">
                <input type="text" [(ngModel)]="filter" placeholder="Search for team number">
            </div>
        </div>
        <div class="eight wide right aligned column">
            <div class="ui compact icon menu">
                <tables></tables>
                <div class="icon link item" (click)="setEditModel(newMatch())">
                    <i class="ui file alternate outline primary icon"></i>
                    <span class="hover text">New Match</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui container">
    <div class="ui padded grid" id="matches">
        <div class="column">
            <div class="ui segment">
                <table class="ui very basic scrollable table">
                    <thead class="left aligned">
                        <tr>
                            <th>Stage</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th *ngFor="let table of tables()">
                            {{table.tableName}} (Table {{table.tableId + 1}})
                            </th>
                            <th *ngFor="let missingTable of missingFieldsArray(amountofMissingHeaderFields())"></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let match of (matches() | teamMatchesPipe: filter)">
                            <td>{{match.stage | upperCaseFirstLetter}}</td>
                            <td>{{match.startTime | date : 'shortTime'}}</td>
                            <td>{{match.endTime | date : 'shortTime'}}</td>
                            <td *ngFor="let matchTeam of match.matchTeams"
                                [innerHTML]="matchTeam.teamNumber | boldPartNumber : filter">
                            </td>
                            <td *ngFor="let field of missingFieldsArray(amountOfMissingFields())"></td>
                            <td class="center aligned">
                                <i class="ui primary edit link icon" (click)="setEditModel(match)"></i>
                                <i class="ui red trash link icon" (click)="setDeleteModel(match)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
