<ul class="menu align-right">
  <li>
    <div class="button-group">
      <button class="button" data-open="model-edit" (click)="setEditModel(newMatch())"><i class="fas fa-plus-square"></i> Match</button>
    </div>
  </li>
</ul>

<table id="matches" class="centralized">
  <tr>
    <th>Id</th>
    <th>Stage</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th *ngFor="let table of tables()">
      {{table.tableName}}
    </th>
    <th></th>
  </tr>
  <tr *ngFor="let match of matches()">
    <td>{{match.matchId}}</td>
    <td>{{match.stage}}</td>
    <td>{{match.startTime | date : 'shortTime'}}</td>
    <td>{{match.endTime | date : 'shortTime'}}</td>
    <td *ngFor="let matchTeam of match.matchTeams">
    {{matchTeam.teamNumber}}
    </td>
    <td class="actions">
      <div class="button" data-open="model-edit" (click)="setEditModel(match)">
          <i class="fa fa-edit"></i>
      </div>
      <div class="alert button" data-open="model-delete" (click)="setDeleteModel(match)">
          <i class="fa fa-trash-alt"></i>
      </div>
    </td>
  </tr>
</table>
