<div class="icon link item" (click)="open()">
  <i class="ui clipboard icon"></i>
  <span class="hover text">Manage tables</span>
</div>
<div class="ui basic tables-modal small modal" [ngClass]="{ 'loading': loading }">
  <div class="ui header">
    Manage tables
  </div>
  <div class="content">
    <div *ngIf="tables().length === 0">
      Set names for different tournament tables.
      <br/>
      These names will appear on the scoresheets.
      <br/>
    </div>
    <div class="ui form">
      <div *ngFor="let table of tables(); index as index" id="table-{{index}}" class="field">
        <div class="ui fluid action input">
          <input (keyup)="tableChanged(table)" [(ngModel)]="table.tableName">
          <div class="ui red icon button" (click)="removeTable(table)">
            <i class="ui trash icon"></i>
            <div class="hover text">Remove table</div>
          </div>
        </div>
      </div>
      <div class="cell grid-x grid-padding-x">
        <input class="cell small-10" (keyup)="tableChanged(newTable)" [(ngModel)]="newTable.tableName">
      </div>
    </div>
  </div>
  <div class="action">
    <div class="ui primary inverted button" (click)="save()">
      <i class="ui save icon"></i>
      Save
    </div>
    <div class="ui red inverted button" (click)="close()">
      <i class="ui trash icon"></i>
      Cancel
    </div>
  </div>
</div>
