<div class="ui page sub menu grid">
    <div class="row">
        <div class="eight wide column">
            <div class="ui fluid input">
                <input type="text" id="search-filter" [(ngModel)]="filter"
                       placeholder="Search for team number using # or for team name by typing">
            </div>
        </div>
        <div class="eight wide right aligned column">
            <div class="ui compact icon menu">
                <div class="icon link item" (click)="setEditModel(newTeam())">
                    <i class="ui file alternate outline primary icon"></i>
                    <span class="hover text">New Team</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui container">
    <div class="ui padded grid" id="teams">
        <div class="column">
            <div class="ui segment">
                <table class="ui single line very basic scrollable table">
                    <thead class="center aligned">
                        <tr>
                            <th class="one wide">Number</th>
                            <th ng-class="showAffiliation() ? 'nine wide' : 'twelve wide'">Name</th>
                            <th *ngIf="showAffiliation()" class="three wide">Affiliation</th>
                            <th class="three wide">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let team of (teams() | teamPipe: filter)">
                            <td class="one wide">{{team.number}}</td>
                            <td [innerHTML]="team.name | boldPartString: filter" ng-class="showAffiliation() ? 'nine wide' : 'twelve wide'"></td>
                            <td *ngIf="showAffiliation()" class="three wide">{{team.affiliation}}</td>
                            <td class="center aligned three wide">
                                <i class="ui primary edit link icon" (click)="setEditModel(team)"></i>
                                <i class="ui red trash link icon" (click)="setDeleteModel(team)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
