<div class="ui one column padded grid">
    <div class="column">
        <div class="ui centered cards">
            <div class="card" *ngFor="let image of images()" [ngClass]="{'loading':loading}">
                <div class="image content">
                    <img src="{{image.image}}">
                </div>
                <div class="extra content">
                    <i class="ui red link trash right floated icon"
                       (click)="setDeleteModel(image)">
                    </i>
                    <div class="header">{{image.name}}</div>
                </div>
            </div>
            <div class="link card">
                <div class="content">
                    <div class="ui icon header">
                        <i class="ui huge image icon"></i>
                        Add image
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>