<ul class="dropdown menu" data-dropdown-menu>
    <li [hidden]="hasData">
        <a>Import</a>
        <ul class="menu">
            <li class="grid-x grid-padding-x">
                <div class="cell small-2" style="align-items: center;">
                    <span data-tooltip class="top" tabindex="2"
                          title="Import CSV schedule file created by Brian Lee's tournament scheduler"><i class="far fa-question-circle"></i></span>
                </div>
                <div class="cell small-10">
                    <a data-open="tournament-data-upload">Import schedule file</a>
                </div>
            </li>
            <li class="grid-x grid-padding-x">
                <div class="cell small-2" style="align-items: center;">
                <span data-tooltip class="top" tabindex="2" title="Import CSV file with team number and name columns"><i
                        class="far fa-question-circle"></i></span>
                </div>
                <div class="cell small-10">
                    <a data-open="teams-upload">Import team list</a>
                </div>
            </li>
        </ul>
    </li>

    <li>
        <a href="/logout">Logout</a>
    </li>
</ul>

