<div id="model-edit" class="fast reveal" [ngClass]="{ 'loading': loading }" data-reveal data-animation-in="hinge-in-from-middle-y" data-animation-out="hinge-out-from-middle-y">
  <h2 *ngIf="model()">Edit {{model().title()}}</h2>
  <div class="dimmer">
    <div class="big loader"></div>
  </div>

  <div *ngIf="model()">
    <div *ngFor="let field of model().fields(); trackBy: trackByField">
      <label>{{field.display}}
        <input *ngIf="isInputType(field.type)"
                type="{{field.type}}"
                value="{{field.get()}}"
                (change)="(field.editable || !model().savedInDB()) ? field.set($event.target.value) : false"
                [disabled]="field.editable == false && model().savedInDB()"/>
          <select *ngIf="field.type == 'select' && field.options.length > 0"
                  (change)="(field.editable || !model().savedInDB()) ? field.set($event.target.value) : false"  >
              <option *ngFor="let option of field.options" value="{{option.value}}"  [selected]="option.value == field.get()">{{option.display}}</option>
          </select>
      </label>
    </div>
  </div>

  <div class="grid-x align-center button-group">
    <button class="button" (click)="save()">Save</button>
  </div>

  <button id="tournament-data-close-button" class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
